/*메인*/
main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/*관리자페이지 네비바*/
.admin-nav {
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.nav-title {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 2rem;
  color: #FFF;
}

.nav-title p {
  margin-left: 15px;
}

.nav-container {
  padding: 2rem 0 0 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-size: 1.4rem;
}

.nav-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-menu {
  margin: 1.25rem 0;
}

.nav-menu a:hover,
.nav-menu a:active {
  cursor: cursor;
}

.nav-menu > p {
  padding: 0.4rem 0;
}

.english {
  font-weight: 700;
}

.korean {
  font-weight: 700;
  color: #FFF;
}

.category-management-header {
  display: block;
  border-bottom: #ddd 1px solid;
  padding-bottom: 0.7rem;
}

.category-management-header-title {
  border-bottom: 0.1rem solid black;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.register-category-form-box .input:focus,
.delete-category-form-box .input:focus {
  border-color: #80b8c5;
  box-shadow: 0 0 0 0.125em rgba(68, 91, 158, 0.25);
}

#addCategoryButton {
  background-color: #80b8c5;
  border-radius: 1rem;
  font-weight: bold;
  color: white;
}

main a {
  text-decoration: none;
}
