<nav
  class="w-full h-20 p-6 border-b-2 border-slate-100 bg-sky-50"
  role="navigation"
  aria-label="main navigation"
>
  <div class="text-xl flex justify-between h-full items-center">
    <div class="font-semibold">
      <a href="/home" class="flex items-center">
        <img class="mr-5" src="../onepink_logo.png" width="30" height="30" />
        <span>원 픽</span>
      </a>

      <a
        role="button"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div aria-label="breadcrumbs">
      <ul class="flex" id="navbar">
        <li class="mr-4">
          <a href="/admin">관리자 페이지</a>
        </li>
        <li class="mr-4" id="register-button">
          <a href="/register">회원가입</a>
        </li>
        <li class="mr-4" id="login-button">
          <a href="/login">로그인</a>
        </li>
        <li class="mr-4" id="account-button">
          <a href="/account">계정관리</a>
        </li>
        <li class="mr-4" id="logout-button">
          <a href="/logout">로그아웃</a>
        </li>
        <li class="mr-4">
          <a href="/cart" aria-current="page">
            <span>장바구니</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
