<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="admin.css" />
    <link href="../output.css" rel="stylesheet">
    <title>관리자 페이지</title>

    <script
      src="https://kit.fontawesome.com/46ecf23ca0.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" defer>
      fetch('/header.html')
        .then((res) => res.text())
        .then((text) => {
          document.querySelector('#header').innerHTML = text;
        });
    </script>
  </head>
  <body>
    <main>
      <!--관리자 네비바-->
      <section class="admin-nav">
        <div class="nav-title">
          <i class="fa-sharp fa-solid fa-cube"></i>
          <p>관리자 페이지</p>
        </div>
        <div class="nav-container">
          <div class="nav-subcontainer">
            <div class="nav-menu">
              <p class="english">Member</p>
              <p class="korean">회원 관리</p>
            </div>
            <div class="nav-menu">
              <p class="english">Category</p>
              <a href="../admin-category/admin-category.html" class="korean">카테고리 관리</a>
            </div>
            <div class="nav-menu">
              <p class="english">Product</p>
              <a href="../admin-product/admin-product.html" class="korean">상품 관리</a>
            </div>
            <div class="nav-menu">
              <p class="english">Order</p>
            </div>
          </div>
        </div>
      </section>

      <div class="admin-main">
        <!--관리자 정보-->
        <section class="admin-info">
          <div class="info-container">
            <div class="profile">
              <i class="fa-solid fa-user-tie fa-4x"></i>
            </div>
            <div class="info-box">
              <p class="admin-name">갓민희</p>
              <p class="info">godMH@onepick.com</p>
              <p class="info">오늘도 칼퇴다!!!</p>
            </div>
          </div>
          <div class="admin-rank">
            <p>관리자</p>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
